<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="grasp01_description">
    <!-- Define argument for initial positions -->
    <xacro:arg name="initial_positions_file" default="$(find grasp01_moveit2)/config/initial_positions.yaml" />

    <!-- Explicitly set the file path as a property -->
    <xacro:property name="initial_positions_file_path" value="$(arg initial_positions_file)" />

    <!-- Load the YAML file using the property -->
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file_path)['initial_positions']}" scope="global" />

    <!-- Import grasp01_description urdf file -->
    <xacro:include filename="$(find grasp01_description)/urdf/grasp01_description.urdf" />

    <!-- Import control_xacro (optional, if still needed) -->
    <xacro:include filename="$(find grasp01_gazebo)/urdf/grasp01_gazebo.ros2_control.xacro" />

    <!-- Call the ROS2 control macro with minimal parameters for simulation -->
    <xacro:grasp01_gazebo_ros2_control 
        name="Grasp01Control" 
        initial_positions="${initial_positions}" />

    <!-- Gazebo Classic ROS2 Control Plugin -->
     <!-- Add gazebo_ros2_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <robotParam>robot_description</robotParam>
      <robotParamName>robot_description</robotParamName>
      <commandInterfaces>
        <interface>effort</interface>
      </commandInterfaces>
      <stateInterfaces>
        <interface>position</interface>
        <interface>velocity</interface>
        <interface>effort</interface>
      </stateInterfaces>
      <parameters>$(find grasp01_gazebo)/config/ros2_gazebo_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>